body {
background-color: lightpink;
}
#title {
  display: flex;
  background-color: pink;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 65px;
  line-height: 10px;
  width: 100%;
}
#title p {
 margin: 0px;
}
#title h1 {
 margin-top: 0px;
}
.container {
  display: flex;
  justify-content: space-around;
}
.cardHolder {
  display: inline-grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 20% 20% 20% 20%;
  grid-column-gap: 30px;
  grid-row-gap: 20px; 
  justify-content: space-around;
  padding: 20px;
}
.cardHolder div {
  width: 75px;
  height: 100px;
  border-radius: 10%;
  line-height: 100px;
  text-align: center;
  font-size: 20px;
  font-style: bold;
}

.back {
   background-color: lightgreen;
}

.front {
  background-color: white;
}

#reset {
  display: inline-block;
  width: 300px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
}
#startScreen {
  display: none;
  z-index: 1;
  position: absolute;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .cardHolder {
  grid-template-rows: 30% 30% 30%;
  grid-template-columns: 20% 20% 20% 20%;
  grid-column-gap: 20px;
  grid-row-gap: 50px; 
  }
  .cardHolder div {
    width: 250px;
    height: 350px;
  }
  h1 {
  font-size: 48px;
  }
  p {
    font-size: 25px;
}
}
